/* &[Simple Counter | HTML&CSS - min 43:20] */
/*
#countLabel{
    display: block;
    text-align: center;
    font-size: 50px;
}
*/


/* &[events | HTML | CSS          -   05:18:26] */
/* 
#myDiv{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
}
 */


/* &[addEventListener() | HTML | CSS          -   05:24:32] */
/* 
#outerDiv{
    background-color: lightgreen;
    width: 200px;
    height: 200px;
}

#innerDiv{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    border: 1px solid;
}
 */


/* &[show/hide HTML elements | HTML | CSS          -   05:30:28] */
/* 
#myImg{
    width: 500px;
    /* display: none; * /
}
 */
/* 
 #myDiv{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    border: 1px solid;
    position: relative;
 }
 */


/* &[animations | HTML | CSS          -   05:40:21] */
/* 
#myDiv{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    position: relative;     /* Relativo al contenedor en que se encuentra, en este caso el body * /
}
*/


/* &[canvas API | HTML | CSS          -   05:49:40] */
/* 
#myCanvas {
    border: 1px solid black;
    background-color: lightcyan;
}
 */


/* &[window | HTML | CSS          -   06:02:34] */
/* 
#myDiv{
    width: 1000px;
    height: 1000px;
    background-color: lightseagreen;
}
 */


/* &[cookies | HTML | CSS          -   06:08:43] */
/* 
#firstText{background-color:lightblue}
#secondText{background-color:lightseagreen}
 */


/* &[stopwatch program | HTML | CSS          -   06:22:57] */
/* 
.timerBtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    border-color: cadetblue;
    background-color:cadetblue;
    color: white;
    cursor: pointer;    /* Como es el Tipo de Cursor al pasar por encima de estos elementos * /
    font-family: Cambria Math monospace solid italic;    /* Font y Atributos Extras * /
}

#timeDisplay{
    font-size: 75px;
    color: rgb(50, 200, 250);
    font-family: Cambria Math, monospace, solid, italic;    /* Font y Atributos Extras * /
}

#timeContainer{
    text-align: center;
    border: 3px solid;
    border-radius: 30px;
    background-color:black;
}
 */


 /* &[rock paper scissors game | HTML | CSS          -   06:35:11] */
/* 
.choiceBtn{
    line-height: 20px;
    width: 120px;
}

#gameDiv{
    font-family: 'Brush Script MT', cursive;    /* una, si no la otra * /
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
}

#playerText{
    color:chartreuse;
}

#computerText{
    color: red;
}
 */


/* &[tictactoe game | HTML | CSS          -   06:46:46] */
/* 
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 60px;
    cursor: pointer;
}

#gameContainer{
    font-family: "Comic Sans MS", cursive;
    text-align: center;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
 */


/* &[snake game | HTML | CSS          -   07:05:43] */
/*
#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}
#resetBtn{
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
 */


/* &[pong game | HTML | CSS          -   07:34:32] */
/* 
#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: 'Comic Sans MS', sans-serif, bold;
    font-size: 50px;
}
#resetBtn{
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    text-size-adjust: inherit;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
 */


/* &[END      -   ] */
/* &[END      -   ] */
/* &[END      -   ] */
/* &[END      -   ] */




/* &[CSS Course      -   00:00:00] */
/* 
body{
    font: Acceder a Elementos completos es de esta forma "[elemento]{}";
    background-color: black;
}
h1{
    color: white;
}
p{
    background-color: grey;
    color: white
}


#p1{
    color: tomato;
    font: Targettear 1 solo coso a la vez, con la Id "#[Id]";
}
.odd{
    font: Para clases se accede con ".[className]";
    color: red;
}
.even{
    color: blue;
}
 */


/* &[fonts       -   00:11:00] */
/* 
body{
    background-color: black;
}
h1{
    color: white;
    font: "Para una Font de Google Fonts, ponemos el href dentro de la head, luego de eso si ya la podemos usar en el CSS, asi:";
    font-family: "Press Start 2P", "consolas", sans-serif;
}
p{
    color: #00FF73;
    font: "En caso de que alguno no Soporte la 1ra Font, Uara la siguiente separada por commas";
    font-family: "consolas", sans-serif;
    font-style: italic;         font: "Estilos de Letra";
    font-weight: bold;          font: "Negritas";
    text-decoration: cyan dotted underline;  font:"Decoraciones, se les puede poner color, forma de la linea, y que tipo de linea es";
    font-size: 18px;
}
 */

/* &[borders       -   00:14:20] */
/* 
h1{
    border-top-style: dotted;   font:"Podemos Aislar Lados";
    border-bottom-style: dotted;
    border-left-style: double;
    border-left-width: 10px;
    border-left-color: orange;
}
p{
    border-style: outset;   font:"Hay Muchos Mas: solid, Dotted, Dashed, double, ridge, inset, outset";
    border-width: 5px;      font:"Ancho del Borde";
    border-color: gold;     font:"Color del Borde";
    border-radius: 10px;      font:"Suavizado para las esquinas, mientas mas grande, mas suavizadas seran";
    padding: 5px;            font:"Espacio entre el Texto y el Borde";
}
 */


/* &[background       -   00:16:56] */
/* 
body{
    font:"Meter Imagen de Fondo";
    background-image: url("holodogs.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;      font:"La Imagen se Re-Size de forma dinamica";
}
h1{
    font: "Otro Tipo de Background, 1 colores a la vez en forma de gradiente";
    font: "To [lado] es para elegir hacia donde va a gradiente";
    background: linear-gradient(to right, skyblue, white);
    font: "Evitamos que se repita una y otra vez por cada Elemento";
    background-repeat: no-repeat;
    font: "Se Alargue y Ajuste a como sea la Pestaña";
    background-attachment: fixed;
}
p{
    background: linear-gradient(to left, skyblue, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 */


/* &[margins       -   00:20:52] */
/* 
body{
    margin: 0;      font:"Espacio Alrededor de un Elemento, osea con la Pestaña en si";
}
#box1{
    border: 5px double;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: greenyellow;


    padding: 50px;      font:"Margen Entre el Elemento y el Contenido del mismo";
    margin-top: 50px;   font:"Espacio Alrededor de un Elemento, osea con la Pestaña en si";
    margin-left: 50px;   font:"Espacio Alrededor de un Elemento, osea con la Pestaña en si";
    margin-left: 50%;   font:"Ahora Usaria el 50% del espacio que sea la Pestaña";

    margin-left: auto;     font:"Se alcula de forma automaica que se pegue a se lado";
    margin-right: auto;     font:"Si Tanto Left como Right estan en auto, se mantendra en el centro";
    font:"Recordar que en el buscador podemos ver mejor los margenes de cada elemento (se muestran los valores propiedades y demas)";
}
#box2{
    border: 5px double;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: dodgerblue;
}
 */


/* &[float       -   00:25:44] */
/* 
.box{
    width: 100px;
    height: 100px;
    border: 1px solid;
    font-size: 40px;
    text-align: center;
    background: tomato;

    font:"Se Saca del Flow Normal del Documento, y lo demas lo sigue despues";
    float: left;
}
p{
    font:"Limpia lo Hecho por el float, y devuelve el flow a lo normal en el elemento";
    clear: left right both;
}
 */


/* &[position       -   00:29:01] */
/*#p{
	font: "Mira donde se van a poner los elementos";
} */

/* #box1{
	font: "relative: Mueve el elemento relativo a donde deberia estar normalmente luego con left/top y asi, se le puede anadir o quitar px)";
	width: 200px;
	height: 200px;
	background-color: blue;
	position: relative;
	top: 100px;
	left: 100px;
} */

/* #box2{
	font: "fixed: Mueve el elemento relativo al Browser/Navegador, NO A SUS CONTENIDOS (a la ventana pues)";
	width: 200px;
	height: 200px;
	background-color: blue;
	position: fixed;
	right: 0px;
	bottom: 0px;
} */

/* #box3{
	width: 200px;
	height: 200px;
	background-color: blue;
	position: fixed;
	top: 100px;
	left: 100px;
}
#box4{
	font: "absolute: Relativo a su ancestro mas grande (su contenedor por asi decirlo, en jerarquia)";
	width: 100px;
	height: 100px;
	background-color: orange;
	position: absolute;
	top: 50px;
	left: 50px;
} */

/* 
#box5{
	width: 200px;
	height: 200px;
	background-color: blue;
	position: sticky;
	top: 0px;
}
#box6{
	font: "sticky: Posicionado, en base a la posicion actual del scroll";
	width: 100px;
	height: 100px;
	background-color: orange;
	position: absolute;
	top: 50px;
	left: 50px;
}
 */

/* &[02:24:15 combinators ➕] */
/* 
#container{
	border: 2px solid;
}
#container p{
	background-color: yellow;
}
#container>p{
	font-weight: bold;
}
#container~p{
	background-color: lightgreen;
}
#container+p{
	font-family: "Press Start 2P";
}
 */

/* &[pseudo classes      -   00:34:58] */
/* 
#p{font:"Modifican un elemento solo cuando estan en cierto estado";}

button:hover{
	font-size: 1.1em;
	background-color: hsl(106,90%,70%);
}
button:active{
	font-size: 1.1em;
	background-color: hsl(0,90%,70%);
}

a:link{
	color: hsl(221,100%,74%);
}
a:hover{
	color: orange;
	font-size: 1.1em;
}
a:active{
	color: green;
	font-size: 1.1em;
}
a:visited{
	color:grey;
}

li:hover{
	background-color: yellow;
}
li:not(:hover){
	background-color: lightpink;
}
li:nth-child(3n+2){
	font: "Numero normal es nth";
	font: "even/odd, los correspondientes";
	font: "[]n, cada [] posiciones";
	font: "[]n + algo, ese algo seria un offset, ese algo tambien se puede ca,biar desde js como con una variable y jugar";
	background-color: orange;
}

#greeting p{
	background-color: lightblue;
	padding: 10px;
	display: none;
}
#greeting:hover p{
	display: block;
}
 */

/* &[02:36:50 pseudo-elements ✔] */	
/* 
h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: yellow;
}
p::selection{
    font: "Cualquier cosa que este seleccionada por el mouse";
    color:lightgreen;
    background-color: darkslategray;
}
#fruit li::before{
    font: "Añadir algo antes de cada linea";
}
#fruit li::marker{
    content: "✔";
    color: green;
}
#apple::after{
    content: "🍎";
}
#orange::after{
    content: "🍊";
}
#banana::after{
    content: "🍌";
}
 */


/* &[02:42:46 pagination 🕮] */	
/* 
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: lightgreen;
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: lightgrey;
    border-radius: 5px;
}
 */

/* &[02:51:44 dropdown menus 🔻] */	
/* 
.dropdown{
    font: "Con esto, ahora si el botton solo forma parte de su area, osea del cuadrado";
    font: "No de toda la linea donde esta ubicado";
    display: inline-block;
}
.dropdown button{
    background-color: hsl(0,0%,80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0,0%,95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsl(0,0%,0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0,0%,70%);
}
.dropdown a:hover{
    background-color: hsl(0,0%,90%);
}
 */

/* &[02:58:19 navigation bar 🧭] */	
/* 
body{margin: 0px;}
main{margin-left: 20px; margin-right: 20px;}
h1{text-align: center;}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0,0%,25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0,0%,10%);
}
.navbar li{
    float: left;
}
 */

/* &[03:04:46 website layout 🗺️] */	
/* 
*{
    font: "Modifica TODOS los elementos a la vez";
    box-sizing: border-box;
    font: "Hace que para calcular el width de la pagina total, se cuenten los paddings y demas";
}
body{margin: 0;}
header{
    background-color: hsl(0,0%,85%);
    text-align: center;
    padding: 25px;
}
.navbar{
    background-color: hsl(0,0%,15%);
    height: 50px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: hsl(0,0%,85%);
    text-align: center;
    padding: 25px;
}
@media screen and (max-width:600px){
    aside, section, article{
        font: "Si y solo si estamos en un dispositivo con un display";
        font: "de 600px o menos, es que esto se activa";
        width: 100%;
    }
}
 */

/* &[03:14:13 image gallery 📷] */	
/* &[03:19:50 icons 🐤] */	
/* &[03:28:23 flexbox 💪] */	
/* &[03:38:23 transformations 🔄] */	
/* &[03:47:23 animations 🎬] */	
/* &[shadows       -   00:40:47] */
/* &[icons      -   00:43:43] */
/* &[transform       -   00:46:45] */
/* &[animation       -   00:50:54] */
/* &[] */